<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../node_modules/layui-src/dist/css/layui.css">
</head>

<body>
    <input type="text" id="searchValue">
    <button id='searchBtn'>搜索</button>
    <ul id="list">
        <li></li>
    </ul>
    <audio src=""></audio>

    <script src="../node_modules/layui-src/dist/layui.js"></script>
    <!-- <script src="../public/js/index.js"></script> -->
    <script>
        layui.config({
            base: '../public/js/'
        }).use('index2');
    </script>
</body>

</html>